<p id="notice"><%= notice %></p>

<h1>Events</h1>

<br>

<%= link_to 'New Event', new_event_path %>

<div class="card-deck">
  <div class="card">
    <%= image_tag ("boattetons-2.jpg"),width: 300,  alt: "Profile Image", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Graduation</h5>
      <p class="card-text">January 5th | Bottega </p>
    </div>
  </div>

   <div class="card">
    <%= image_tag ("boattetons-2.jpg"),width: 300,  alt: "Profile Image", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Graduation</h5>
      <p class="card-text">January 5th | Bottega </p>
      <button type="button" class="btn btn-primary">Primary</button>

    </div>
  </div>

  <div class="card">
    <%= image_tag ("boattetons-2.jpg"),width: 300,  alt: "Profile Image", class: "card-img-top" %>
    <div class="card-body">
      <h5 class="card-title">Graduation</h5>
      <p class="card-text">January 5th | Bottega </p>
    </div>
  </div>
</div>

<br>
