<p id="notice"><%= notice %></p>
<% if @event_item != nil %>
<p>
  <strong>Title:</strong>
  <%= @event_item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_item.description %>
</p>

<p>
  <strong>Event Type:</strong>
  <%= @event_item.event_type %>
</p>


<p>
  <strong>Main image:</strong>
  <%= @event_item.main_image %>
</p>

<p>
  <strong>Date:</strong>
  <%= @event_item.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @event_item.time %>
</p>

<p>
  <strong>Location:</strong>
  <%= @event_item.location %>
</p>
<% else %>
<h1>No events!</h1>
<% end %>

<%= link_to 'Edit', edit_event_path(@event_item) %> |
<%= link_to 'Back', events_path %>
